/*-- Main Script --*/
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
        @font-face {
            font-family: 'Lemon Milk';
            src: url('Asset/fonts/lemonmilk.ttf') format('truetype'); /* Sesuaikan path */
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Comic Sans';
            src: url('Asset/fonts/comic.TTF') format('truetype'); /* Sesuaikan path */
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Britannic Bold';
            src: url('Asset/fonts/britannicbold.ttf') format('truetype'); /* Sesuaikan path */
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
        }

        @media screen and (max-width: 768px) {
            .nav-links a {
                display: none;
            }

            /* Home */
            .container2 {
                display: none !important;
            }
            .container1 {
                display: none !important;
            }

            /* About */
            .about_container1 {
                display: none !important;
            }
            .about_container2 {
                display: none !important;
            }
            .about_container3 {
                display: none !important;
            }
            .about_container4 {
                display: none !important;
            }

            /* Error */
            .error_container1 {
                display: none !important;
            }
            .error_container2 {
                display: none !important;
            }
            .error_container3 {
                display: none !important;
            }
        }


        @media screen and (min-width: 768px) {
            .hamburger {
                display: none;
            }

            /* Home */
            .container21 {
                display: none !important;
            }
            .container22 {
                display: none !important;
            }
            .container11 {
                display: none !important;
            }
            .container12 {
                display: none !important;
            }

            /* About */
            .about_container1_mobile {
                display: none !important;
            }
            .about_container2_mobile {
                display: none !important;
            }
            .about_container2_mobile2 {
                display: none !important;
            }
            .about_container3_mobile {
                display: none !important;
            }
            .about_container4_mobile {
                display: none !important;
            }

            /* Error */
            .error_container1_mobile {
                display: none !important;
            }
            .error_container2_mobile {
                display: none !important;
            }
            .error_container3_mobile {
                display: none !important;
            }
        }
/*-- End Of Main Script --*/

/*-- Header Style --*/
        /* --------------------------------------------------------------------------------------------------------------------------------------------------- */
        /* CSS untuk Header */
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: #fdf6ec;
        }

        .logo {
            display: flex;
            flex-shrink: 1;
            width: fit-content;
        }
        .logo img {
            height: auto; /* Sesuaikan tinggi logo */
            width: 75px; /* Agar proporsi tetap */
            min-width: 100%;
        }

        .search-box {
            display: flex;
            align-items: center;
            background: #f5efe3;
            padding: 10px;
            border-radius: 25px;
            border: 1px solid #d4cfc5;
            width: 30%;
            position: relative;
            overflow: hidden;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.6s ease-in-out;
            margin-left: 2%;
            margin-right: 2%;
        }

        .search-box.open {
            transform: scaleX(1);
        }

        .search-box input {
            border: none;
            background: transparent;
            outline: none;
            padding: 5px;
            width: 100%;
            font-size: 16px;
            visibility: hidden; /* Hide input initially */
        }

        .search-box.open input {
            visibility: visible; /* Show input once the search box is opened */
        }

        /* **Untuk layar di bawah 768px: ubah jadi pop-up** */
        @media screen and (max-width: 768px) {
            .search-box {
                position: fixed;
                top: 12%;
                left: 50%;
                width: 80%;
                max-width: 300px;
                height: 50px;
                transform: translate(-50%, -50%) scale(0);
                border-radius: 10px;
                z-index: 1000;
                background: white;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                opacity: 0;
            }

            .search-box.open {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }
        }

        .nav-links {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        .nav-links a {
            text-decoration: none;
            color: #1b3d21;
            background: #f5efe3;
            padding: 8px 15px;
            border-radius: 15px;
            border: 1px solid #d4cfc5;
            font-weight: bold;
            font-size: 17px;
        }

        .nav-links button {
            text-decoration: none;
            color: #1b3d21;
            background: #f5efe3;
            padding: 8px 15px;
            border-radius: 15px;
            border: 1px solid #d4cfc5;
            font-weight: bold;
            font-size: 17px;
        }
        .nav-links button:hover {
            background: #e2dcd3;
        }
        .nav-links a:hover {
            background: #e2dcd3;
        }

        .hamburger {
            text-decoration: none;
            color: #1b3d21;
            background: #f5efe3;
            padding: 8px 15px;
            border-radius: 15px;
            border: 1px solid #d4cfc5;
            font-weight: bold;
            cursor: pointer;
        }

        .hamburger :hover{
            background: #e2dcd3;
        }

        .close-btn {
            position: absolute;
            top: 22px;
            left: 20px;
            font-size: 50px;
            color: black;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
        }

        .close-btn:hover {
            color: white;
        }

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            right: -250px; /* Awalnya tersembunyi di kanan */
            background-color: #e79118;
            overflow-x: hidden;
            transition: right 0.3s ease-in-out;
            padding-top: 5px;
        }

        .sidebar p {
            padding: 0px 16px;
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            color: black;
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 12%;
        }

        .sidebar a {
            padding: 12px 16px;
            width: 50%;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            color: #1b3d21;
            border-radius: 15px;
            border: 1px solid #d4cfc5;
            background: #f5efe3;
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            margin-bottom: 5%;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .sidebar a:hover {
            background-color: #8a570f;
            color: white; /* Pastikan warna teks cukup kontras */
        }
/*-- End Of  Header Style --*/

/*-- Home Style --*/
        .Home {
            display: block;
        }

    /* CSS untuk Home part-3 */
        .container3 {
            display: flex;
            flex-direction: column;
            background: #F7D8BB;
            height: auto;
            align-items: center;
        }


        .tips {
            display: flex;
            margin-top: 5%; /* Sesuaikan dengan kebutuhan */
            margin-bottom: 8%;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .tips img {
            width: 100%;
            max-width: 900px;
        }


        .shortcut {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 5%;
            width: 100%;
        }

        .shortcut button {
            margin-bottom: 2%;
        }

        .btn1 {
            width: 45%;
            max-width: 750px ;
            padding: 1%;
            border: none;
            border-radius: 8% / 50%;
            font-weight: bold;
            color: white;
            font-family: 'Comic Sans';
            cursor: pointer;
            background-color: #DB0600; /* Merah */
            transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
        }

        .btn1:hover {
            background-color: #ffb5b3; /* Warna saat hover */
            color: black;
        }

        .btn2 {
            width: 38%;
            max-width: 700px;
            padding: 1%;
            border: none;
            border-radius: 8% / 50%;
            font-weight: bold;
            color: white;
            font-family: 'Comic Sans';
            cursor: pointer;
            background-color: #376244; /* Hijau tua */
            transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
        }

        .btn2:hover {
            background-color: #cee3d4; /* Warna saat hover */
            color: black;
        }

        .btn3 {
            width: 35%;
            max-width: 550px;
            padding: 1%;
            border: none;
            border-radius:8% / 50%;
            font-weight: bold;
            color: white;
            font-family: 'Comic Sans';
            cursor: pointer;
            background-color: #A07E4F; /* Coklat */
            transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
        }

        .btn3:hover {
            background-color: #dccfbc; /* Warna saat hover */
            color: black;
        }
    /* End Of CSS untuk Home part-3 */


    /* CSS untuk Home part-2 */
        .container2 {
            display: flex;
            background: #FCFAEF;
            height: auto;
            justify-content: space-between;
        }

        .explore {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8%;
            width: 50%;
            line-height: 0.5;/* Mengurangi jarak antar teks */
        }

        .explore h1 {
            font-family: 'Lemon Milk';
            font-weight: bold;
            text-transform: uppercase;
            color: #E7B436; /* Warna emas */
            text-shadow: -5px 0px #1A237E; /* Shadow biru ke kiri atas */
        }

        .explore h2 {
            font-family: 'Lemon Milk';
            font-weight: bold;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 1px #1A237E; /* Outline biru tua */
        }

        .mapel {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5%;
            margin-top: 5%;
            width: 50%;
            align-content: center;
            justify-content: center;
        }

        .mapel img {
            width: 35%;
            max-width: 300px;
            margin-right: 7%;
            margin-left: 7%;
            margin-bottom: 10%;
            transition: transform 0.3s ease-in-out; /* Animasi smooth */
        }

        .mapel img:hover {
            transform: scale(1.3); /* Memperbesar gambar saat hover */
        }
    /* End Of CSS untuk Home part-2 */


    /*-- CSS untuk Home part-2 Mobile --*/
        /* CSS untuk Home part-21 */
            .container21 {
                display: flex;
                background: #FCFAEF;
                height: auto;
                justify-content: space-between;
            }

            .explore21 {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%;
                width: 75%;
                line-height: 0.5;/* Mengurangi jarak antar teks */
            }

            .explore21 h1 {
                font-family: 'Lemon Milk';
                font-weight: bold;
                text-transform: uppercase;
                color: #E7B436; /* Warna emas */
                text-shadow: -5px 0px #1A237E; /* Shadow biru ke kiri atas */
            }

            .explore21 h2 {
                font-family: 'Lemon Milk';
                font-weight: bold;
                text-transform: uppercase;
                color: transparent;
                -webkit-text-stroke: 1px #1A237E; /* Outline biru tua */
            }
        /* End Of CSS untuk Home part-21 */


        /* CSS untuk Home part-22 */
            .container22 {
                display: flex;
                background: #FCFAEF;
                height: auto;
                justify-content: space-between;
            }

            .mapel22 {
                display: flex;
                flex-wrap: wrap;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5%;
                margin-top: 5%;
                width: 100%;
                align-content: center;
                justify-content: center;
            }

            .mapel22 img {
                width: 28%;
                margin-right: 7%;
                margin-left: 7%;
                margin-bottom: 10%;
                transition: transform 0.3s ease-in-out; /* Animasi smooth */
            }

            .mapel22 img:hover {
                transform: scale(1.3); /* Memperbesar gambar saat hover */
            }
        /* End Of CSS untuk Home part-22 */
    /*-- CSS untuk Home part-2 Mobile --*/


    /* CSS untuk Home part-1 */
        .container1 {
            display: flex;
            background: #F7D8BB;
            height: auto;
            justify-content: space-between;
        }

        .swuicon {
            height: auto;
            padding-top: 4%;
            padding-left: 3%;
            width: 25%;
        }

        .swuicon img {
            width: 100%;
        }

        .appleguy {
            height: auto;
            margin-left: auto; /* Menempelkan elemen ke kanan */
            width: 25%;
        }

        .appleguy img {
            width: 100%;
        }

        .judul{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
            margin-top: 10%;
            width: 50%; /* Memastikan lebar div judul penuh */
        }
        .judul h1{
            font-family: 'Britannic Bold';
            font-weight: bold;
            color: #292F83;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        .judul h2{
            font-family: 'Inter';
        }
    /* End Of CSS untuk Home part-1 */


    /*-- CSS untuk Home Part-1 Mobile --*/
        /* CSS untuk Home part-11 */
            .container11 {
                display: flex;
                background: #F7D8BB;
                height: auto;
                justify-content: space-between;
            }

            .swuicon11 {
                height: auto;
                padding-top: 4%;
                padding-left: 3%;
                width: 25%;
            }

            .swuicon11 img {
                width: 100%;
            }

            .appleguy11 {
                height: auto;
                margin-left: auto; /* Menempelkan elemen ke kanan */
                width: 25%;
            }

            .appleguy11 img {
                width: 100%;
            }
        /* End Of CSS untuk Home part-11 */


        /* CSS untuk Home part-12 */
            .container12 {
                display: flex;
                background: #F7D8BB;
                height: auto;
                justify-content: space-between;
            }

            .judul12{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8%;
                width: 70%; /* Memastikan lebar div judul penuh */
            }
            .judul12 h1{
                font-family: 'Britannic Bold';
                font-weight: bold;
                color: #292F83;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                margin-top: 0;
                margin-bottom: 5%;
            }
            .judul12 h2{
                font-family: 'Inter';
                margin-top: 0;
            }
        /* End Of CSS untuk Home part-12 */
    /*-- CSS untuk Home Part-1 Mobile --*/
/*-- End Of Home Style --*/

/*-- About Style --*/
    .about {
        display: block;
    }

    /* About Container-1 */
        .about_container1 {
            display: flex;
            background: #F7D8BB;
            height: auto;
            justify-content: space-between;
        }

        .appleabout {
            height: auto;
            padding-top: 4%;
            padding-left: 3%;
            width: 25%;
        }

        .appleabout img {
            width: 100%;
        }

        .about_judul{
            text-align: center;
            margin-left: auto;
            margin-right: 25%;
            margin-bottom: 10%;
            margin-top: 10%;
            width: 50%; /* Memastikan lebar div judul penuh */
        }
        .about_judul h1{
            font-family: 'Britannic Bold';
            font-weight: bold;
            color: #292F83;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        .about_judul h2{
            font-family: 'Inter';
        }
        .about_judul h3{
            font-family: 'Inter';
        }

    /* About Container-2 */
        .about_container2 {
            display: flex;
            background: #8A9D89;
            height: auto;
            justify-content: space-between;
            padding-right: 2%;
            padding-left: 3%;
            padding-top: 5%;
        }

        .bg1_about {
            height: auto;
            width: 35%;
        }

        .bg1_about img {
            width: 100%;
            max-width: 500px;
        }

        .pict_about {
            height: auto;
            width: 50%;
        }

        .pict_about img {
            width: 90%;
            max-width: 750px;
            margin-left: 10%;
        }

    /* About Container-3 */
        .about_container3 {
            display: flex;
            background: #8A9D89;
            height: auto;
            justify-content: space-between;
            padding-right: 10%;
        }

        .bg2_about {
            height: auto;
            margin-left: auto;
            width: 35%;
            margin-bottom: 7%;
        }

        .bg2_about img {
            width: 100%;
            max-width: 500px;
        }

    /* About Container-4 */
        .about_container4 {
            display: flex;
            background: #FCFAEF;
            padding-bottom: 35%;
        }

    /*-- Mobile About Style --*/
        /* About Container-1_mobile */
            .about_container1_mobile {
                display: flex;
                background: #F7D8BB;
                height: auto;
                justify-content: space-between;
            }

            .appleabout_mobile {
                height: auto;
                padding-top: 4%;
                padding-left: 3%;
                width: 35%;
            }

            .appleabout_mobile img {
                width: 100%;
            }

            .about_judul_mobile {
                text-align: center;
                margin-left: 0;
                margin-right: 10%;
                margin-bottom: 10%;
                margin-top: 10%;
                width: 65%; /* Memastikan lebar div judul penuh */
            }
            .about_judul_mobile h1{
                font-family: 'Britannic Bold';
                font-weight: bold;
                color: #292F83;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                margin-bottom: 10%;
            }
            .about_judul_mobile h2{
                font-family: 'Inter';
            }
            .about_judul_mobile h3{
                font-family: 'Inter';
            }

        /* About Container-2_mobile */
            .about_container2_mobile {
                display: flex;
                background: #8A9D89;
                height: auto;
                justify-content: space-between;
                padding-right: 2%;
                padding-left: 3%;
                padding-top: 5%;
            }

            .about_container2_mobile2 {
                display: flex;
                background: #8A9D89;
                height: auto;
                justify-content: center;
                padding-top: 5%;
            }

            .bg1_about_mobile {
                height: auto;
                width: 35%;
            }

            .bg1_about_mobile img {
                width: 100%;
            }

            .pict_about_mobile {
                height: auto;
                width: 80%;
            }

            .pict_about_mobile img {
                width: 100%;
            }

        /* About Container-3_mobile */
            .about_container3_mobile {
                display: flex;
                background: #8A9D89;
                height: auto;
                justify-content: space-between;
                padding-right: 3%;
            }

            .bg2_about_mobile {
                height: auto;
                margin-left: auto;
                width: 35%;
                margin-bottom: 7%;
            }

            .bg2_about_mobile img {
                width: 100%;
            }

        /* About Container-4_mobile */
            .about_container4_mobile {
                display: flex;
                background: #FCFAEF;
                padding-bottom: 50%;
        }
    /*-- End Of Mobile About Style --*/
/*-- End Of About Style --*/

/*-- Error Style --*/
    .error {
        display: block;
    }

    /* About Container-1 */
        .error_container1 {
            display: flex;
            background: #F7D8BB;
            height: auto;
            justify-content: space-between;
        }

        .appleerror {
            height: auto;
            padding-top: 4%;
            padding-left: 3%;
            width: 25%;
        }

        .appleerror img {
            width: 100%;
            max-width: 400px;
        }

        .appleguyerror {
            height: auto;
            width: 25%;
        }

        .appleguyerror img {
            width: 100%;
            max-width: 500px;
        }

    /* About Container-2 */
        .error_container2 {
            display: flex;
            background: #F7D8BB;
            height: auto;
            justify-content: space-between;
        }

        .pict_error{
            height: auto;
            width: 100%;
        }

        .pict_error img {
            width: 50%;
            max-width: 900px;
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 15%;
        }

    /* About Container-3 */
        .error_container3 {
            display: flex;
            background: #FCFAEF;
            height: auto;
            justify-content: space-between;
        }

        .mailerror {
            width: 100%;
        }

        .mailerror img {
            width: 30%;
            margin-top: 30%;
            margin-left: 68%;
            margin-bottom: 5%;
        }

    /* -- Mobile Error Style --*/
        /* About Container-1_mobile*/
                .error_container1_mobile {
                    display: flex;
                    background: #F7D8BB;
                    height: auto;
                    justify-content: space-between;
                }

                .appleerror_mobile {
                    height: auto;
                    padding-top: 4%;
                    padding-left: 3%;
                    width: 35%;
                }

                .appleerror_mobile img {
                    width: 100%;
                    max-width: 400px;
                }

                .appleguyerror_mobile {
                    height: auto;
                    width: 35%;
                }

                .appleguyerror_mobile img {
                    width: 100%;
                    max-width: 500px;
                }

        /* About Container-2_mobile */
                .error_container2_mobile {
                    display: flex;
                    background: #F7D8BB;
                    height: auto;
                    justify-content: space-between;
                }

                .pict_error_mobile {
                    height: auto;
                    width: 100%;
                }

                .pict_error_mobile img {
                    width: 80%;
                    max-width: 900px;
                    margin-top: 10%;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-bottom: 15%;
                }

        /* About Container-3_mobile */
                .error_container3_mobile {
                    display: flex;
                    background: #FCFAEF;
                    height: auto;
                    justify-content: space-between;
                }

                .mailerror_mobile {
                    width: 100%;
                }

                .mailerror_mobile img {
                    width: 30%;
                    margin-top: 75%;
                    margin-left: 68%;
                    margin-bottom: 5%;
                }
    /* -- End Of Mobile Error Style --*/
/*-- End Of Error Style --*/

/*-- Course Style --*/
/*-- End Of Course Style --*/

/*-- Footer Style --*/
        /* --------------------------------------------------------------------------------------------------------------------------------------------------- */
        /* CSS untuk footer */
        .footer {
            display: flex;
            background: black;
            height: auto;
            padding-left: 1%;
        }
        .judulfooter {
            width: 100%;
            max-width: 800px;
            color: white;
        }
/*-- End Of Footer Style --*/